$toolbar_hgt: 2.2em;
$wingrey: #c0c0c0;
$windarkgrey: #7f7f7f;
$winblue : #010080;
$toolbar_hgt: 2.2em;
$decor_height: 2em;
$startmenuwidth: 22em;

@font-face {
    font-family: Pixel Arial;
    src: url("/PIXEARG_.TTF");
}
@font-face {
    font-family: Pixel Arial;
    font-weight: bold;
    src: url("/PIXEAB__.TTF");
}
@mixin emboss($thick){
    border-right: $thick solid #000000;
    border-bottom: $thick solid #000000;
    border-top: $thick solid #ffffff;
    border-left: $thick solid #ffffff;
}
@mixin deboss($thick){
    border-top: 4px solid #000000;
    border-left: 4px solid #000000;
    border-bottom: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
}

:root{
    font-family:'Pixel Arial', 'Courier New', Courier, monospace;
}

.blog_body{
    background-color: $windarkgrey;
    color:black;
    font-family: 'Pixel Arial', sans-serif;
    max-width: 80em;
    margin:auto;
    width:90%;
}

#desktop{
    display:grid;
    grid-template-columns: repeat(auto-fill, 7.0em);
    grid-template-rows: repeat(auto-fill, 7.0em);
    grid-auto-flow: column;
  
    justify-content: space-around;
    align-content: space-around;
  
    position: fixed;
    top: 0;
    left: 0;
  
    height:calc(100% - #{$toolbar_hgt} );
    width:100%;
  
    background-image: none;
    background-color: #008080;
    color: white;
    image-rendering: pixelated;

    background-repeat: repeat;
    background-position: center;
}

#background_text{
    color: #005252;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    font-size: 24pt;
    text-align: center;
}

#start_menu{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3em 1fr;
    grid-template-areas: "branding list";

    position: absolute;
    bottom:2.4em;
    left:0;
    height:24em;
    width: $startmenuwidth;
    background-color: $wingrey;
    color:black;
    z-index: 2;
    @include emboss(2px);

    #start_menu_branding{
        grid-area: branding;
        background-color: $windarkgrey;
        span{
            position: absolute;
            left: -2.6em;
            bottom: 3em;
            color: #c0c0c0;
            transform: rotate(-90deg);
            /* font-weight: bold; */
            font-size: 2em;
        }
    }

    #start_menu_list{
        grid-area: list;
        display: grid;
        grid-template-rows: 3em 3em;
        grid-template-columns: 1fr;

        .start_menu_item{
            display: flex;
            gap: 8px;
            margin-left:0.5em;
            padding-top: 8px;
            padding-bottom: 8px;
            width: 97%;
            padding: .2em;
            align-items: center;
            cursor: default;

            img{
                height: 80%;
            }
        }
        .start_menu_item:hover{
            background-color: $winblue;
            color: white;
        }
        .start_menu_arrow{
            font-size: 2.5em;
            transform: translate(0, -10%);
            margin-left: auto;
        }
    }
}

.rollover_menu{
    position: absolute;
    left: $startmenuwidth;
    padding: 0.2em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-basis: 1em;
    width: 10em;
    background-color: $wingrey;

    @media screen and (max-width: 667px){
        left: $startmenuwidth - 10em;
    }

    @include emboss(2px);
    .rollover_menu_item{
        align-self: flex-start;
        width: 100%;
    }
    .rollover_menu_item:hover{
        background-color: $winblue;
        color: white;
    }
}

#about_me_text{
    max-width: 60em;
    width: 95%;
    margin: auto;
}

.icon {
    padding: 0.25rem;
    //flex-basis: 6rem;
    align-self: flex-start;

    aspect-ratio: 1 / 1;

    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    font-size: 12px;
    span{
      pointer-events: none;
    }
    img{
        padding-bottom: .4em;
        height:4em;
        pointer-events: none;
    }
}

.extern{
    display: grid;
    grid-template-columns: 0;
    grid-template-rows: 1fr;
    img{
        grid-area: 1;
    }
}


.icon:hover{
  border: 1px solid grey;
}

.file_browser{
    background-color: white;
    @include deboss(2px);

    width: 98%;
    height: 98%;
    display:grid;
    grid-template-columns: repeat(auto-fill, 7.0em);
    grid-template-rows: repeat(auto-fill, 7.0em);
    grid-auto-flow: row;
    gap: .5em;
  
    justify-content: space-around;
    align-content: left;

    position: absolute;

    font-family: 'Pixel Arial';
}

.toolbar_note{
    color: #006565;
    font-family: Pixel Arial;
    font-weight: bold;
    position: absolute;
    bottom: 0.4em;
    left: 7.3em;
}

#toolbar{
    z-index: 3;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $toolbar_hgt;
    background-color: #c0c0c0;
    border-top: 2px solid #ffffff;
    padding-left:.2em;
  
    display: flex;
    flex-direction: row;
    align-items: center;
  
    .clock{
      position: absolute;
      color: black;
      right: .5em;
      padding: .2em;
  
      border-top: 2px solid #000000;
      border-left: 2px solid #000000;
      border-right: 2px solid #ffffff;
      border-bottom: 2px solid #ffffff;
    }
}
.pl_icon{
    display: inline;
    height:1.5em;
}
.toolbar_button{
    min-width: 3em;
    height: 85%;
    
    background-color: #c0c0c0;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    border-left: 2px solid #ffffff;
    border-top: 2px solid #ffffff;

    color:black;
    font-weight: bold;
    cursor: default;
  
    padding-left:1.5em;
    padding-right:1.5em;
  
    display:flex;
    align-items: center;

    img{
        display: inline;
        margin-right: 0.5em;
    }

}
.toolbar_button:active{
    background-color: $windarkgrey;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #000;
    border-top: 2px solid #000;
}

.active_window{
    .inset{
        background-color: $winblue !important;
    }
}

.window{
    position:absolute;
    display: grid;
    grid-template-areas:
    "header"
    "body"
    "footer";
    grid-template-columns: auto;
    grid-template-rows: 2.0em auto 2.0em;
    height: 75vh;
    width: 75vw;
    // overflow: hidden;

    @media screen and (max-width: 667px){
        height: 95%;
        width: 95%;
    }

    @include emboss(4px);

    .top_decor{
        grid-area: header;
        text-align: left;
        background-color: $wingrey;
        .inset{
            height: 100%;
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $windarkgrey;
            span{
                height:100%;
                display: flex;
                align-items: center;
                font-size: 0.9em;
                img{
                    margin-left:0.5em;
                    margin-right:0.5em;
                }
            }
            .window_close{
                height: 80%;
            }
        }
    }

    .window_body{
        background-color: $wingrey;
        grid-area: body;
        color: black;
        font-family: Pixel Arial;
        position: absolute;
        overflow-y: scroll;
        overflow-x: hidden;
        height:100%;
        width: 100%;
        scrollbar-width: thin;
        max-height: 100%;
        font-size: 0.8em;
        .window_body_content{
            margin-left:1em;
            margin-right:1em;
        }
    }

    .bottom_decor{
        background-color: $wingrey;
        border-top: 2px solid white;
        grid-area: footer;
        span{
            font-size: 0.8em;
        }
    }
}

.file_browser{
    background-color: white;
    @include deboss(2px);

    width: 100%;
    height: calc(100% - 2 * #{$decor_height});
    top: $decor_height;
    display:grid;
    grid-template-columns: repeat(auto-fill, 7.0em);
    grid-template-rows: repeat(auto-fill, 7.0em);
    grid-auto-flow: row;
    gap: .5em;
  
    justify-content: space-around;
    align-content: left;

    position: absolute;

    font-family: 'Pixel Arial';
    .icon{
        color:black;
    }
}
.emulator_window{
    position: absolute;
    background-color: black;
    width: 100%;
    height: calc(100% - 2 * #{$decor_height});
    top: $decor_height;
}

.fullscreen{
    display: flex;
    position: fixed;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: black !important;
}

img { 
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

#backgrounds_menu{
    width:20em;
    height:min-content;
    background-color: white;
    @include deboss(2px);

    span{
        display: block;
        width: 100%;
        cursor: pointer;
    }

    span:hover{
        background-color: $winblue;
        color: white;
    }
}